@font-face {
  font-family: 'belligerent';
  src: url('../font/belligerent-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes movingTitle {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
@keyframes shake {
  10%, 90% {
    transform: rotate(1deg);
  }

  20%, 80% {
    transform: rotate(1deg);
  }

  30%, 50%, 70% {
    transform: rotate(-1deg);
  }

  40%, 60% {
    transform: rotate(1deg);
  }
}
%title{
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
  padding: 2%;
  letter-spacing: 0;
  display: block;
  margin: 10% auto;
  text-align: center;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  background: url("../img/bg-anim.jpg") repeat-y;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: movingTitle 80s linear infinite;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}
%buttonHover{
  box-shadow: 0 0 12px black;
  border: 4px solid black;
  background: linear-gradient(to right, #B892EB 0, #B892EB 100%) no-repeat left bottom / 0 100%;
  transition: 350ms ease-in-out;
  &:hover{
    color: white;
    background-size: 100% 100%;
  }
}

*, header a, footer a{
  font-family: 'belligerent';
  font-size: 1.2em;
}
body{
  background-color: white;
}
header{
  background-color: #F3E9F1;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  #btn-cart{
    display: inline;
    margin-bottom: 5%;
    text-align: center;
    .basket{
      max-width: 10%;
      margin: auto;
    }
    &:hover{
      animation: 1.5s shake linear;
    }
  }
  a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1em;
    .logo{
      max-width: 50%;
      margin: 5% auto;
      transform: scale(1);
      transition: 250ms ease-in-out;
      &:hover{
        transform: scale(0.95);
      }
    }
    .return{
      display: none;
    }
  }
}
footer{
  background-color: #F3E9F1;
  display: flex;
  flex-direction: column;
  height: 6em;
  width: 100%;
  a{
    text-align: center;
    flex: 0 0 10%;
    margin: auto;
    align-items: center;
    padding: 1%;
    &:hover{
      cursor: pointer;
      border-radius: 25px;
      box-shadow: 0 0 12px black;
    }
  }
}

#homepage{
  margin: 5%;
  h1{
    font-size: 1.4em;
    @extend %title;
  }
  #imgHomepage{
    max-width: 100%;
    object-fit: scale-down;
    display: flex;
    float: right;
  }
  #btns{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    .btn-homepage {
      margin: 5%;
      border: 2px solid black;
      border-radius: 25px 0;
      @extend %buttonHover;
      a {
        color: black;
        text-decoration: none;
      }

    }
  }
  section{
    article {
      border: 5px solid #F3E9F1;
      box-shadow: 2px 2px 12px #4E4E4E;
      border-radius: 20px;
      padding: 5%;
      margin: 5% auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: 1.2em;
        margin: 2% 0;
      }
      a{
        img {
          max-width: 50%;
          border: 2px solid black;
          border-radius: 25px;
          box-shadow: 0 0 12px lightgrey;
          &:hover {
            box-shadow: 0 0 16px #D14EC8;
          }
        }
      }
      p{
        display: none;
      }
    }
  }
}
#productPage{
  h1{
    width: 80%;
    font-size: 1.4em;
    @extend %title;
  }
  section{
    display: flex;
    margin: 5%;
    flex-direction: column;
    h2{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4% auto 2%;
      font-size: 2em;
    }
    img{
      max-width: 90%;
      margin: 5% auto;
      transition: all 1s ease;
      object-fit: scale-down;
      background-color: #F3E9F1;
      border-radius: 25px;
      border: 5px solid #F3E9F1;
      box-shadow: 0 0 12px #4E4E4E;
      &:hover{
        transform:scale(1.15);
      }
    }
    div{
      font-size: 1em;
      background-color: #F3E9F1;
      border-radius: 25px;
      padding: 2%;
      box-shadow: 0 0 12px #4E4E4E;
      select {
        margin: 5% 0;
        padding: 2%;
        border-radius: 20px;
        background-color: white;
        option {
          text-align: center;
        }
      }
      .selectQuantity{
        display: flex;
        align-items: baseline;
        select{
          margin-left: 5%;
        }
      }
      button{
        display: flex;
        margin: 5% auto;
        padding: 2%;
        border-radius: 100px;
        background-color: white;
        @extend %buttonHover;
      }
      p:nth-child(2){
        font-size: 0.8em;
        margin-bottom: 5%;
        text-align: center;
      }
    }
  }
}
#cart{
  h1{
    @extend %title;
    font-size: 1.2em;
    width: 50%;
  }
  #emptyCartSection, #sectionWithProducts, #sectionForm{
    border: 4px solid black;
    border-radius: 50px;
    padding: 5%;
    margin: 5%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
    h2{
      font-size: 1.4em;
    }
    article {
      display: flex;
      flex-direction: column;
      border: 5px solid #F3E9F1;
      box-shadow: 2px 2px 12px #4E4E4E;
      border-radius: 20px;
      word-break: break-word;
      margin: 5% 0;
      img {
        margin-top: 5%;
        max-width: 50%;
        object-fit: scale-down;
        border: 2px solid black;
        border-radius: 25px;
        &:hover {
          box-shadow: 0 0 16px #D14EC8;
        }
      }
    }
    #divQuantity{
      display: flex;
      flex-direction: column;
      margin: 4%;
      #divButtonQuantity{
        display: flex;
        margin: auto;
        flex-direction: row;
        button {
          width: 35px;
          height: 35px;
          font-size: 1.5em;
          background: #fafafa;
          border-radius: 50%;
          padding-bottom: 2%;
          margin: 0 2%;
          cursor: pointer;
          border: 4px solid black;
          transition: background-color 200ms ease-out;
          &:hover{
            background-color: #B892EB;
          }
        }
      }
    }
    #totalPrice{
      font-size: 1.2em;
      margin: 5%;
    }
  }
  #emptyCartSection{
    button {
      display: inline-block;
      font-size: 1em;
      padding: 5% 0;
      word-break: break-word;
      margin: 5% 0;
      cursor: pointer;
      border-radius: 20px;
      border: 4px solid black;
      background-color: white;
      box-shadow: 0 0 12px black;
      transition: background-color 200ms ease-out;

      &:hover {
        background-color: #C899BE;
      }
    }
  }
  #productsSuggestedContainer {
    display: flex;
    flex-direction: row;
    text-align: center;

    .articleSuggested {
      flex-direction: column;
      background-color: white;
      margin: 2%;
      flex: 0 0 30%;

      img {
        max-height: 130px;
      }
    }
  }
  #divTitleForm{
    h2{
      margin: auto;
      padding: 5%;
    }
    display: flex;
    border: 4px solid #F3E9F1;
    box-shadow: 0 0 12px black;
    border-radius: 50px;

    #imgPlaceOrder{
      display: none;
    }
  }
  form{
    .formCss{
      display: flex;
      flex-direction: column;
      label{
        font-size: 1.3em;
        justify-content: center;
        margin: 5%;
      }
      input{
        border-radius: 20px;
        font-size: 1em;
        padding: 5%;
        align-items: center;
        text-align: center;
        &:valid{
          border: 4px solid #006C6C;
          box-shadow: 0 0 12px #004F4F;
          background-color: white;
        }
        &:invalid{
          background-color: #FFDDDD;
          border: 4px solid #C60000;
          box-shadow: 0 0 12px #820000;
        }
      }
      #btn-submit{
        display: inline-block;
        font-size: 1em;
        padding: 5% 0;
        word-break: break-word;
        margin-top: 20%;
        cursor: pointer;
        border-radius: 20px;
        @extend %buttonHover;

      }
    }
  }
}
#confirmation{
  h1{
    @extend %title;
    width: 70%;
  }
  section{
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
    border: 4px solid black;
    border-radius: 50px;
    padding: 5%;
    box-shadow: 0 0 12px grey;
    line-height: 1.2;
    li{
      width: 75%;
      margin: 2% auto;
      list-style: outside url("../img/listStyle.png");
    }
    #divYourOrder{
      display: flex;
      margin: 10% auto;
      justify-content: center;
      text-align: center;
      font-size: 1.4em;
      img{
        display: none;
      }
    }
    p{
      font-size: 1em;
      margin: 5% 0;
    }
    #yourProducts{
      border-bottom: 2px solid black;
    }
    article {
      border: 5px solid #F3E9F1;
      box-shadow: 2px 2px 12px #4E4E4E;
      border-radius: 20px;
      padding: 2%;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 0.8em;
      img {
        max-width: 50%;
        margin: auto;
        border: 2px solid black;
        border-radius: 25px;
      }
      h2{
        font-size: 1.4em;
        margin-top: 5%;
      }
    }
    #priceOrder{
      margin: 5% 2% 5% 0;
      text-align: right;
    }
    #divider{
      max-width: 80%;
      object-fit: scale-down;
      margin: 0 auto;
    }
    #thanksEndNote{
      margin-top: 5%;
      font-size: 1em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 577px){
  header{
    flex-direction: row;
    height: 6em;
    #return{
      flex: 0 0 20%;
    }
    a{
      flex: 0 0 30%;
      .return{
        display: flex;
        max-width: 20%;
        transform: rotate(0);
        transition: 1.2s ease-in-out;
        &:hover{
          transform: rotate(-360deg);
        }
      }
      .logo {
        max-width: 100%;
      }
    }
    #btn-cart{
      margin-bottom: 0;
      text-align: right;
    }
  }
  footer{
    flex-direction: row;
  }
  #homepage{
    h1{
      width: 80%;
      font-size: 1.8em;
    }
    #btns{
      margin: 5% auto;
      width: 50%;
    }
  }
  #cart{
    h1{
      font-size: 1.8em;
      width: 30%;
    }
    p{
      font-size: 1.2em;
    }
    article{
      padding: 2%;
    }
    #totalPrice{
      font-size: 1.5em;
    }
    #divTitleForm{
      #imgPlaceOrder{
        display: flex;
        max-width: 30%;
        object-fit: scale-down;
        margin-left: 5%;
      }
    }
    form{
      margin: 10% 0;
      .formCss{
        flex-direction: row;
        label{
          flex: 0 0 20%;
          text-align: left;
        }
        input{
          margin: 2% 0;
          padding: 2%;
          flex: 0 0 60%;
        }
        #btn-submit{
          display: flex;
          border-radius: 40px;
          font-size: 1.4em;
          margin: 10% auto 0;
          flex: 0 0 80%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  #productPage{
    h1{
      width: 40%;
    }
  }
  #confirmation{
    h1{
      font-size: 1.8em;
      margin: 10% auto;
    }
    section{
      p{
        font-size: 1.2em;
        margin: 3% 0;
      }
      #divYourOrder{
        h2{
          flex: 0 0 40%;
        }
        img{
          display: flex;
          object-fit: scale-down;
          max-width: 25%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  header{
    height: 8em;
    #btn-cart{
      flex: 0 0 20%;
      font-size: 1.2em;
    }
  }
  #homepage{
    h1{
      width: 70%;
    }
    margin: 0 10%;
    #btns{
      flex-direction: row;
      width: 100%;
      .btn-homepage{
        flex: 0 0 30%;
        margin: auto;
        padding: 2%;
      }
    }
    section{
      margin: 10% 0;
      article{
        flex-direction: row;
        margin: 5%;
        padding: 0;
        text-align: left;
        a{
          img{
            max-width: 100%;
            margin: 5%;
          }
        }
        p{
          display: flex;
        }
        div{
          flex: 0 0 65%;
          padding-left: 5%;
        }
      }
    }

  }
  #productPage{
    section{
      margin: 5% 10%;
      img{
        max-width: 90%;
      }
    }
  }
  #cart{
    h1{
      font-size: 2em;
      padding: 2% 4%;
    }
    h2{
      font-size: 1.8em;
    }
    #emptyCartSection{
      p{
        margin: 5%;
        text-align: left;
        font-size: 1.2em;
      }
      button{
        width: 30%;
        margin: auto;
        padding: 2%;
        font-size: 1.4em;
        border-radius: 50px;
      }
    }
    #sectionWithProducts{
      article{
        flex-direction: row;
        text-align: left;
        div{
          flex: 0 0 70%;
          margin-left: 5%;
          p:last-child{
            text-align: right;
            padding-right: 5%;
          }
        }
        #divQuantity{
          margin: 0;
          flex-direction: row;
          align-items: center;
          #divButtonQuantity{
            button{
              box-shadow: 0 0 12px black;
             }
           }
         }
        a{
          flex: 0 0 30%;
          img{
            max-width: 100%;
          }
        }
      }
      #totalPrice{
        text-align: right;
      }
    }
    #divTitleForm{
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      padding: 2%;
      h2{
        font-size: 1.8em;
        padding: 0;
        margin: 0;
      }
      #imgPlaceOrder{
        max-width: 100%;
        margin-left: 0;
        padding-right: 10%;
      }
    }
    form{
      margin: 5% 15%;
      .formCss{
        input{
          border-radius: 50px;
          margin: 4% 0;
          font-size: 1.2em;
        }
        #btn-submit{
          padding: 2% 0;
          flex: 0 0 100%;
        }
      }
    }
  }
  #confirmation{
    section{
      #divYourOrder{
        align-items: center;
        margin: 5% auto;
        img{
          max-width: 30%;
        }
      }
      li{
        text-align: center;
        width: 55%;
        &:last-child{
          margin-bottom: 5%;
        }
      }
      article{
        flex-direction: row;
        img{
          max-width: 30%;
        }
        div{
          flex: 0 0 70%;
          text-align: left;
          margin-left: 2%;
          h2{
            text-align: center;
            font-size: 1.8em;
            margin-top: 0;
          }
          p:last-child{
            text-align: right;
            margin-right: 5%;
          }
        }
      }
      #yourProducts{
        margin-bottom: 5%;
      }
    }
  }
}

@media screen and (min-width: 992px){
  #homepage{
    h1{
      font-size: 2em;
    }
      #btns{
        width: 80%;
      }
      section{
        article{
          h2{
            margin-bottom: 5%;
          }
          a{
            img{
              width: 205px;
              height: 200px;
              object-fit: scale-down;
            }
          }
        }
      }
    }
  #productPage{
    section{
      margin: 5%;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      img{
        max-width: 40%;
        height: 400px;
        margin: 0;
      }
      div{
        width: 370px;
        select{
          margin: 2%;
          border-radius: 50px;
        }
      }
    }
  }
  #cart{
    #emptyCartSection{
      h2{
        font-size: 1.8em;
      }
    }
    #sectionWithProducts{
      article{
        a{
          img{
            width: 205px;
            height: 200px;
          }
        }
        div{
          margin: 5% 10% 5% 2%;
        }
      }
    }
  }
  #confirmation{
    h1{
      margin: 10% auto 5%;
      width: 50%;
    }
    section{
      article{
        margin: 2%;
      }
    }
  }
}

@media screen and (min-width: 1200px){
  header{
    a{
      .logo{
        max-width: 70%;
      }
    }
  }
  #homepage, #cart, #confirmation{
    margin: 5% 15%;
  }
  #homepage{
    h1{
      width: 50%;
      margin: 5% auto;
    }
    #btns{
      .btn-homepage{
        flex: 0 0 25%;
      }
    }
    section{
      article{
        margin: 5% 10%;
        a{
          img{
            margin: 5%;
          }
        }
      }
    }
  }
  #productPage{
    h1{
      width: 20%;
      margin: 5% auto;
    }
    section{
      img, div{
        height: 470px;
      }
      div{
        width: 550px;
        padding: 0 2% 1%;
        h2{
          margin-top: 10%;
        }
      }
    }
  }
  #cart, #confirmation{
    h1{
      margin: 5% auto;
    }
  }
  #cart{
    #sectionWithProducts{
      article{
        margin: 2% 0;
      }
      #totalPrice{
        font-size: 1.6em;
      }
    }
  }
}
