@font-face {
  font-family: "belligerent";
  src: url("../font/belligerent-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, header a, footer a {
  font-family: "belligerent";
  font-size: 1.2em;
}

header {
  background-color: #F3E9F1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10em;
}
header img {
  max-width: 25%;
  margin: auto;
  flex: 0 0 30%;
}
header div {
  flex: 0 0 30%;
}
header div a {
  display: flex;
}
header div a .return {
  display: flex;
  max-width: 20%;
  max-height: 20%;
}
header a {
  text-decoration: none;
  text-align: right;
  color: black;
  flex: 0 0 30%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-right: 5%;
}
header a .basket {
  max-width: 7%;
}

body {
  background-color: white;
}
body h1 {
  font-family: "belligerent";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto 2%;
  font-size: 2em;
}

#homepage, #cart {
  margin: 5% 20%;
}
#homepage #btns, #cart #btns {
  display: flex;
  flex-direction: row;
  margin: 0 auto 10% auto;
  justify-content: space-evenly;
}
#homepage #btns button, #cart #btns button {
  flex: 0 0 20%;
  border: 2px solid black;
  border-radius: 25px 0 25px 0;
  background-color: #F3E9F1;
  padding: 1%;
  box-shadow: 0 0 12px grey;
}
#homepage #btns #btn-teddies a, #homepage #btns #btn-camera a, #homepage #btns #btn-furniture a, #cart #btns #btn-teddies a, #cart #btns #btn-camera a, #cart #btns #btn-furniture a {
  color: black;
  text-decoration: none;
}
#homepage #btns #btn-teddies:hover, #homepage #btns #btn-camera:hover, #homepage #btns #btn-furniture:hover, #cart #btns #btn-teddies:hover, #cart #btns #btn-camera:hover, #cart #btns #btn-furniture:hover {
  background-color: rgba(143, 91, 254, 0.3);
  box-shadow: 2px 2px 12px black;
}
#homepage article, #cart article {
  border: 5px solid #F3E9F1;
  box-shadow: 2px 2px 12px #4E4E4E;
  border-radius: 20px;
  margin: 2% 0 2% 0;
  padding: 2%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  word-break: break-word;
}
#homepage article img, #cart article img {
  width: 204px;
  height: 199px;
  object-fit: scale-down;
  border: 2px solid black;
  border-radius: 25px;
  flex: 0 0 30%;
}
#homepage article img:hover, #cart article img:hover {
  box-shadow: 0 0 16px #C899BE;
}
#homepage article div, #cart article div {
  flex: 0 0 70%;
  margin-left: 2%;
}
#homepage article div h2, #cart article div h2 {
  font-size: 1.2em;
  margin: 2% 0;
}

#homepage #imgHomepage {
  display: flex;
  float: right;
}

#productPage {
  margin: 8% 5%;
  text-align: left;
  justify-content: space-between;
}
#productPage section {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
#productPage section select {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1em;
  padding: 2%;
  border-radius: 25px;
}
#productPage section select option {
  text-align: center;
}
#productPage section .selectQuantity {
  display: flex;
  align-items: baseline;
}
#productPage section .selectQuantity select {
  margin-top: 0;
  margin-left: 1%;
  display: flex;
}
#productPage section button {
  display: flex;
  margin: 5% auto;
  padding: 9px 30px;
  border-radius: 100px;
  border: 4px solid black;
  background-color: white;
  box-shadow: 0 0 12px black;
  transition: background-color 200ms ease-out;
}
#productPage section button:hover {
  background-color: #C899BE;
}
#productPage section img {
  max-width: 40%;
  transition: all 1s ease;
  object-fit: scale-down;
  background-color: #F3E9F1;
  border-radius: 25px;
  border: 5px solid #F3E9F1;
  box-shadow: 0 0 12px #4E4E4E;
}
#productPage section img:hover {
  transform: scale(1.15);
}
#productPage section div {
  font-size: 1em;
  margin-left: 5%;
  background-color: #F3E9F1;
  border-radius: 25px;
  padding: 1%;
  box-shadow: 0 0 12px #4E4E4E;
}
#productPage section div p:nth-child(2) {
  font-size: 0.8em;
  margin-bottom: 5%;
  text-align: center;
}

footer {
  background-color: #F3E9F1;
  display: flex;
  flex-direction: row;
  height: 6em;
  width: 100%;
}
footer a {
  text-align: center;
  flex: 0 0 10%;
  margin: auto;
  align-items: center;
  padding: 1%;
}
footer a:hover {
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 12px black;
}

#cart {
  margin: 5% 10%;
}
#cart h1 {
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
  width: 15%;
  padding: 2%;
  margin: 0 auto 5%;
  font-size: 2.3em;
}
#cart #emptyCartSection, #cart #sectionWithProducts, #cart #sectionForm {
  border: 4px solid black;
  border-radius: 50px;
  padding: 5%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}
#cart #emptyCartSection h2, #cart #sectionWithProducts h2, #cart #sectionForm h2 {
  font-size: 1.7em;
  margin: 2% 2% 10%;
}
#cart #emptyCartSection p, #cart #sectionWithProducts p, #cart #sectionForm p {
  margin: 2%;
  text-decoration: underline black;
}
#cart #emptyCartSection button, #cart #sectionWithProducts button, #cart #sectionForm button {
  margin: 0 auto 5% auto;
  border-radius: 50px;
  padding: 2%;
  cursor: pointer;
  border: 4px solid black;
  background-color: white;
  box-shadow: 0 0 12px black;
  transition: background-color 200ms ease-out;
}
#cart #emptyCartSection button:hover, #cart #sectionWithProducts button:hover, #cart #sectionForm button:hover {
  background-color: #C899BE;
}
#cart #sectionWithProducts h2 {
  margin: 2% 0 0 2%;
}
#cart #productsSuggestedContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#cart #productsSuggestedContainer .articleSuggested {
  flex-direction: column;
  background-color: white;
  margin: 2%;
  flex: 0 0 30%;
}
#cart #productsSuggestedContainer .articleSuggested img {
  max-height: 130px;
}
#cart #productsSuggestedContainer .articleSuggested p {
  text-decoration: none;
}
#cart #sectionWithProducts p {
  text-decoration: none;
}
#cart #sectionWithProducts #totalPrice, #cart #sectionWithProducts .totalPriceByProducts {
  text-align: right;
  margin: 2%;
}
#cart #sectionWithProducts #totalPrice {
  margin-top: 7%;
  font-size: 1.5em;
}
#cart #sectionWithProducts div div {
  display: flex;
  margin-bottom: 5%;
}
#cart #sectionWithProducts div div button {
  margin: 0 0 0 5%;
  width: 35px;
  height: 35px;
  font-size: 1.7em;
  padding: 0 0 4% 0;
  background: #fafafa;
  box-shadow: 0 0 12px black;
  border-radius: 50%;
}
#cart #divTitleForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto auto 5% auto;
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
  width: 70%;
}
#cart #divTitleForm h2 {
  margin: 0;
}
#cart #divTitleForm #placeOrder {
  flex: 0 0 40%;
}
#cart #divTitleForm #imgPlaceOrder {
  flex: 0 0 20%;
  margin-right: 5%;
  object-fit: scale-down;
}
#cart form {
  margin: auto;
  width: 50%;
}
#cart form .formCss {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
}
#cart form .formCss label {
  font-size: 1.3em;
  flex: 0 0 30%;
  justify-content: center;
  padding-top: 3%;
}
#cart form .formCss input {
  border-radius: 20px;
  font-size: 1em;
  width: 100%;
  padding: 2% 0;
  align-items: center;
  text-align: center;
}
#cart form .formCss input:valid {
  border: 4px solid #006C6C;
  box-shadow: 0 0 12px #004F4F;
  background-color: white;
}
#cart form .formCss input:invalid {
  background-color: #FFDDDD;
  border: 4px solid #C60000;
  box-shadow: 0 0 12px #820000;
}
#cart form .formCss #btn-submit {
  font-size: 1.2em;
  margin-top: 7%;
  cursor: pointer;
  border-radius: 20px;
  border: 4px solid black;
  background-color: white;
  box-shadow: 0 0 12px black;
  transition: background-color 200ms ease-out;
}
#cart form .formCss #btn-submit:hover {
  background-color: #C899BE;
}

#confirmation {
  margin: 5% 20%;
}
#confirmation section {
  margin-top: 8%;
  border: 4px solid black;
  border-radius: 50px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px grey;
}
#confirmation section li {
  text-align: center;
  list-style: inside url("../img/listStyle.png");
}
#confirmation section li:first-child {
  margin: 2% auto 1% auto;
}
#confirmation section li:nth-child(2) {
  margin: 0 auto;
}
#confirmation section li:last-child {
  margin: 1% auto 10% auto;
}
#confirmation h1 {
  margin: auto auto 5% auto;
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
  width: 80%;
  padding: 2%;
}
#confirmation #divYourOrder {
  display: flex;
  margin: 5% auto 5% auto;
  align-items: center;
  justify-content: center;
}
#confirmation #divYourOrder img {
  flex: 0 0 20%;
  max-width: 80%;
  object-fit: scale-down;
}
#confirmation #divYourOrder #yourOrder {
  flex: 0 0 35%;
  text-align: center;
  font-size: 1.5em;
}
#confirmation p {
  font-size: 1.05em;
  margin-bottom: 3%;
  line-height: 125%;
}
#confirmation #yourProducts {
  border-bottom: 2px solid black;
  margin: 4% 0;
}
#confirmation article {
  border: 5px solid #F3E9F1;
  box-shadow: 2px 2px 12px #4E4E4E;
  border-radius: 20px;
  margin: 2% 0 2% 0;
  padding: 2%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  word-break: break-word;
}
#confirmation article img {
  width: 20%;
  height: 20%;
  object-fit: scale-down;
  border: 2px solid black;
  border-radius: 25px;
  flex: 0 0 30%;
}
#confirmation article div {
  flex: 0 0 70%;
  margin-left: 2%;
}
#confirmation article div h2 {
  font-size: 1.2em;
  margin: 2% 0;
}
#confirmation article div #totalPriceText {
  text-align: right;
  padding-right: 5%;
}
#confirmation #priceOrder {
  margin: 5% 2% 5% 0;
  text-align: right;
}
#confirmation #divider {
  max-width: 80%;
  object-fit: scale-down;
  margin: 0 auto;
}
#confirmation #thanksEndNote {
  margin-top: 5%;
  font-size: 1em;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
