@font-face {
  font-family: "belligerent";
  src: url("../font/belligerent-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes movingTitle {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes shake {
  10%, 90% {
    transform: rotate(1deg);
  }
  20%, 80% {
    transform: rotate(1deg);
  }
  30%, 50%, 70% {
    transform: rotate(-1deg);
  }
  40%, 60% {
    transform: rotate(1deg);
  }
}
#confirmation h1, #cart h1, #productPage h1, #homepage h1 {
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
  padding: 2%;
  letter-spacing: 0;
  display: block;
  margin: 10% auto;
  text-align: center;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url("../img/bg-anim.jpg") repeat-y;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: movingTitle 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

#cart form .formCss #btn-submit, #productPage section div button, #homepage #btns .btn-homepage {
  box-shadow: 0 0 12px black;
  border: 4px solid black;
  background: linear-gradient(to right, #B892EB 0, #B892EB 100%) no-repeat left bottom/0 100%;
  transition: 350ms ease-in-out;
}
#cart form .formCss #btn-submit:hover, #productPage section div button:hover, #homepage #btns .btn-homepage:hover {
  color: white;
  background-size: 100% 100%;
}

*, header a, footer a {
  font-family: "belligerent";
  font-size: 1.2em;
}

body {
  background-color: white;
}

header {
  background-color: #F3E9F1;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
}
header #btn-cart {
  display: inline;
  margin-bottom: 5%;
  text-align: center;
}
header #btn-cart .basket {
  max-width: 10%;
  margin: auto;
}
header #btn-cart:hover {
  animation: 1.5s shake linear;
}
header a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1em;
}
header a .logo {
  max-width: 50%;
  margin: 5% auto;
  transform: scale(1);
  transition: 250ms ease-in-out;
}
header a .logo:hover {
  transform: scale(0.95);
}
header a .return {
  display: none;
}

footer {
  background-color: #F3E9F1;
  display: flex;
  flex-direction: column;
  height: 6em;
  width: 100%;
}
footer a {
  text-align: center;
  flex: 0 0 10%;
  margin: auto;
  align-items: center;
  padding: 1%;
}
footer a:hover {
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 12px black;
}

#homepage {
  margin: 5%;
}
#homepage h1 {
  font-size: 1.4em;
}
#homepage #imgHomepage {
  max-width: 100%;
  object-fit: scale-down;
  display: flex;
  float: right;
}
#homepage #btns {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}
#homepage #btns .btn-homepage {
  margin: 5%;
  border: 2px solid black;
  border-radius: 25px 0;
}
#homepage #btns .btn-homepage a {
  color: black;
  text-decoration: none;
}
#homepage section article {
  border: 5px solid #F3E9F1;
  box-shadow: 2px 2px 12px #4E4E4E;
  border-radius: 20px;
  padding: 5%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#homepage section article h2 {
  font-size: 1.2em;
  margin: 2% 0;
}
#homepage section article a img {
  max-width: 50%;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0 0 12px lightgrey;
}
#homepage section article a img:hover {
  box-shadow: 0 0 16px #D14EC8;
}
#homepage section article p {
  display: none;
}

#productPage h1 {
  width: 80%;
  font-size: 1.4em;
}
#productPage section {
  display: flex;
  margin: 5%;
  flex-direction: column;
}
#productPage section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto 2%;
  font-size: 2em;
}
#productPage section img {
  max-width: 90%;
  margin: 5% auto;
  transition: all 1s ease;
  object-fit: scale-down;
  background-color: #F3E9F1;
  border-radius: 25px;
  border: 5px solid #F3E9F1;
  box-shadow: 0 0 12px #4E4E4E;
}
#productPage section img:hover {
  transform: scale(1.15);
}
#productPage section div {
  font-size: 1em;
  background-color: #F3E9F1;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 0 0 12px #4E4E4E;
}
#productPage section div select {
  margin: 5% 0;
  padding: 2%;
  border-radius: 20px;
  background-color: white;
}
#productPage section div select option {
  text-align: center;
}
#productPage section div .selectQuantity {
  display: flex;
  align-items: baseline;
}
#productPage section div .selectQuantity select {
  margin-left: 5%;
}
#productPage section div button {
  display: flex;
  margin: 5% auto;
  padding: 2%;
  border-radius: 100px;
  background-color: white;
}
#productPage section div p:nth-child(2) {
  font-size: 0.8em;
  margin-bottom: 5%;
  text-align: center;
}

#cart h1 {
  font-size: 1.2em;
  width: 50%;
}
#cart #emptyCartSection, #cart #sectionWithProducts, #cart #sectionForm {
  border: 4px solid black;
  border-radius: 50px;
  padding: 5%;
  margin: 5%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
}
#cart #emptyCartSection h2, #cart #sectionWithProducts h2, #cart #sectionForm h2 {
  font-size: 1.4em;
}
#cart #emptyCartSection article, #cart #sectionWithProducts article, #cart #sectionForm article {
  display: flex;
  flex-direction: column;
  border: 5px solid #F3E9F1;
  box-shadow: 2px 2px 12px #4E4E4E;
  border-radius: 20px;
  word-break: break-word;
  margin: 5% 0;
}
#cart #emptyCartSection article img, #cart #sectionWithProducts article img, #cart #sectionForm article img {
  margin-top: 5%;
  max-width: 50%;
  object-fit: scale-down;
  border: 2px solid black;
  border-radius: 25px;
}
#cart #emptyCartSection article img:hover, #cart #sectionWithProducts article img:hover, #cart #sectionForm article img:hover {
  box-shadow: 0 0 16px #D14EC8;
}
#cart #emptyCartSection #divQuantity, #cart #sectionWithProducts #divQuantity, #cart #sectionForm #divQuantity {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
#cart #emptyCartSection #divQuantity #divButtonQuantity, #cart #sectionWithProducts #divQuantity #divButtonQuantity, #cart #sectionForm #divQuantity #divButtonQuantity {
  display: flex;
  margin: auto;
  flex-direction: row;
}
#cart #emptyCartSection #divQuantity #divButtonQuantity button, #cart #sectionWithProducts #divQuantity #divButtonQuantity button, #cart #sectionForm #divQuantity #divButtonQuantity button {
  width: 35px;
  height: 35px;
  font-size: 1.5em;
  background: #fafafa;
  border-radius: 50%;
  padding-bottom: 2%;
  margin: 0 2%;
  cursor: pointer;
  border: 4px solid black;
  transition: background-color 200ms ease-out;
}
#cart #emptyCartSection #divQuantity #divButtonQuantity button:hover, #cart #sectionWithProducts #divQuantity #divButtonQuantity button:hover, #cart #sectionForm #divQuantity #divButtonQuantity button:hover {
  background-color: #B892EB;
}
#cart #emptyCartSection #totalPrice, #cart #sectionWithProducts #totalPrice, #cart #sectionForm #totalPrice {
  font-size: 1.2em;
  margin: 5%;
}
#cart #emptyCartSection button {
  display: inline-block;
  font-size: 1em;
  padding: 5% 0;
  word-break: break-word;
  margin: 5% 0;
  cursor: pointer;
  border-radius: 20px;
  border: 4px solid black;
  background-color: white;
  box-shadow: 0 0 12px black;
  transition: background-color 200ms ease-out;
}
#cart #emptyCartSection button:hover {
  background-color: #C899BE;
}
#cart #productsSuggestedContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#cart #productsSuggestedContainer .articleSuggested {
  flex-direction: column;
  background-color: white;
  margin: 2%;
  flex: 0 0 30%;
}
#cart #productsSuggestedContainer .articleSuggested img {
  max-height: 130px;
}
#cart #divTitleForm {
  display: flex;
  border: 4px solid #F3E9F1;
  box-shadow: 0 0 12px black;
  border-radius: 50px;
}
#cart #divTitleForm h2 {
  margin: auto;
  padding: 5%;
}
#cart #divTitleForm #imgPlaceOrder {
  display: none;
}
#cart form .formCss {
  display: flex;
  flex-direction: column;
}
#cart form .formCss label {
  font-size: 1.3em;
  justify-content: center;
  margin: 5%;
}
#cart form .formCss input {
  border-radius: 20px;
  font-size: 1em;
  padding: 5%;
  align-items: center;
  text-align: center;
}
#cart form .formCss input:valid {
  border: 4px solid #006C6C;
  box-shadow: 0 0 12px #004F4F;
  background-color: white;
}
#cart form .formCss input:invalid {
  background-color: #FFDDDD;
  border: 4px solid #C60000;
  box-shadow: 0 0 12px #820000;
}
#cart form .formCss #btn-submit {
  display: inline-block;
  font-size: 1em;
  padding: 5% 0;
  word-break: break-word;
  margin-top: 20%;
  cursor: pointer;
  border-radius: 20px;
}

#confirmation h1 {
  width: 70%;
}
#confirmation section {
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
  border: 4px solid black;
  border-radius: 50px;
  padding: 5%;
  box-shadow: 0 0 12px grey;
  line-height: 1.2;
}
#confirmation section li {
  width: 75%;
  margin: 2% auto;
  list-style: outside url("../img/listStyle.png");
}
#confirmation section #divYourOrder {
  display: flex;
  margin: 10% auto;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
}
#confirmation section #divYourOrder img {
  display: none;
}
#confirmation section p {
  font-size: 1em;
  margin: 5% 0;
}
#confirmation section #yourProducts {
  border-bottom: 2px solid black;
}
#confirmation section article {
  border: 5px solid #F3E9F1;
  box-shadow: 2px 2px 12px #4E4E4E;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
}
#confirmation section article img {
  max-width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
}
#confirmation section article h2 {
  font-size: 1.4em;
  margin-top: 5%;
}
#confirmation section #priceOrder {
  margin: 5% 2% 5% 0;
  text-align: right;
}
#confirmation section #divider {
  max-width: 80%;
  object-fit: scale-down;
  margin: 0 auto;
}
#confirmation section #thanksEndNote {
  margin-top: 5%;
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width: 577px) {
  header {
    flex-direction: row;
    height: 6em;
  }
  header #return {
    flex: 0 0 20%;
  }
  header a {
    flex: 0 0 30%;
  }
  header a .return {
    display: flex;
    max-width: 20%;
    transform: rotate(0);
    transition: 1.2s ease-in-out;
  }
  header a .return:hover {
    transform: rotate(-360deg);
  }
  header a .logo {
    max-width: 100%;
  }
  header #btn-cart {
    margin-bottom: 0;
    text-align: right;
  }

  footer {
    flex-direction: row;
  }

  #homepage h1 {
    width: 80%;
    font-size: 1.8em;
  }
  #homepage #btns {
    margin: 5% auto;
    width: 50%;
  }

  #cart h1 {
    font-size: 1.8em;
    width: 30%;
  }
  #cart p {
    font-size: 1.2em;
  }
  #cart article {
    padding: 2%;
  }
  #cart #totalPrice {
    font-size: 1.5em;
  }
  #cart #divTitleForm #imgPlaceOrder {
    display: flex;
    max-width: 30%;
    object-fit: scale-down;
    margin-left: 5%;
  }
  #cart form {
    margin: 10% 0;
  }
  #cart form .formCss {
    flex-direction: row;
  }
  #cart form .formCss label {
    flex: 0 0 20%;
    text-align: left;
  }
  #cart form .formCss input {
    margin: 2% 0;
    padding: 2%;
    flex: 0 0 60%;
  }
  #cart form .formCss #btn-submit {
    display: flex;
    border-radius: 40px;
    font-size: 1.4em;
    margin: 10% auto 0;
    flex: 0 0 80%;
    justify-content: center;
    align-items: center;
  }

  #productPage h1 {
    width: 40%;
  }

  #confirmation h1 {
    font-size: 1.8em;
    margin: 10% auto;
  }
  #confirmation section p {
    font-size: 1.2em;
    margin: 3% 0;
  }
  #confirmation section #divYourOrder h2 {
    flex: 0 0 40%;
  }
  #confirmation section #divYourOrder img {
    display: flex;
    object-fit: scale-down;
    max-width: 25%;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 8em;
  }
  header #btn-cart {
    flex: 0 0 20%;
    font-size: 1.2em;
  }

  #homepage {
    margin: 0 10%;
  }
  #homepage h1 {
    width: 70%;
  }
  #homepage #btns {
    flex-direction: row;
    width: 100%;
  }
  #homepage #btns .btn-homepage {
    flex: 0 0 30%;
    margin: auto;
    padding: 2%;
  }
  #homepage section {
    margin: 10% 0;
  }
  #homepage section article {
    flex-direction: row;
    margin: 5%;
    padding: 0;
    text-align: left;
  }
  #homepage section article a img {
    max-width: 100%;
    margin: 5%;
  }
  #homepage section article p {
    display: flex;
  }
  #homepage section article div {
    flex: 0 0 65%;
    padding-left: 5%;
  }

  #productPage section {
    margin: 5% 10%;
  }
  #productPage section img {
    max-width: 90%;
  }

  #cart h1 {
    font-size: 2em;
    padding: 2% 4%;
  }
  #cart h2 {
    font-size: 1.8em;
  }
  #cart #emptyCartSection p {
    margin: 5%;
    text-align: left;
    font-size: 1.2em;
  }
  #cart #emptyCartSection button {
    width: 30%;
    margin: auto;
    padding: 2%;
    font-size: 1.4em;
    border-radius: 50px;
  }
  #cart #sectionWithProducts article {
    flex-direction: row;
    text-align: left;
  }
  #cart #sectionWithProducts article div {
    flex: 0 0 70%;
    margin-left: 5%;
  }
  #cart #sectionWithProducts article div p:last-child {
    text-align: right;
    padding-right: 5%;
  }
  #cart #sectionWithProducts article #divQuantity {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
  #cart #sectionWithProducts article #divQuantity #divButtonQuantity button {
    box-shadow: 0 0 12px black;
  }
  #cart #sectionWithProducts article a {
    flex: 0 0 30%;
  }
  #cart #sectionWithProducts article a img {
    max-width: 100%;
  }
  #cart #sectionWithProducts #totalPrice {
    text-align: right;
  }
  #cart #divTitleForm {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 2%;
  }
  #cart #divTitleForm h2 {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
  }
  #cart #divTitleForm #imgPlaceOrder {
    max-width: 100%;
    margin-left: 0;
    padding-right: 10%;
  }
  #cart form {
    margin: 5% 15%;
  }
  #cart form .formCss input {
    border-radius: 50px;
    margin: 4% 0;
    font-size: 1.2em;
  }
  #cart form .formCss #btn-submit {
    padding: 2% 0;
    flex: 0 0 100%;
  }

  #confirmation section #divYourOrder {
    align-items: center;
    margin: 5% auto;
  }
  #confirmation section #divYourOrder img {
    max-width: 30%;
  }
  #confirmation section li {
    text-align: center;
    width: 55%;
  }
  #confirmation section li:last-child {
    margin-bottom: 5%;
  }
  #confirmation section article {
    flex-direction: row;
  }
  #confirmation section article img {
    max-width: 30%;
  }
  #confirmation section article div {
    flex: 0 0 70%;
    text-align: left;
    margin-left: 2%;
  }
  #confirmation section article div h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 0;
  }
  #confirmation section article div p:last-child {
    text-align: right;
    margin-right: 5%;
  }
  #confirmation section #yourProducts {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 992px) {
  #homepage h1 {
    font-size: 2em;
  }
  #homepage #btns {
    width: 80%;
  }
  #homepage section article h2 {
    margin-bottom: 5%;
  }
  #homepage section article a img {
    width: 205px;
    height: 200px;
    object-fit: scale-down;
  }

  #productPage section {
    margin: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #productPage section img {
    max-width: 40%;
    height: 400px;
    margin: 0;
  }
  #productPage section div {
    width: 370px;
  }
  #productPage section div select {
    margin: 2%;
    border-radius: 50px;
  }

  #cart #emptyCartSection h2 {
    font-size: 1.8em;
  }
  #cart #sectionWithProducts article a img {
    width: 205px;
    height: 200px;
  }
  #cart #sectionWithProducts article div {
    margin: 5% 10% 5% 2%;
  }

  #confirmation h1 {
    margin: 10% auto 5%;
    width: 50%;
  }
  #confirmation section article {
    margin: 2%;
  }
}
@media screen and (min-width: 1200px) {
  header a .logo {
    max-width: 70%;
  }

  #homepage, #cart, #confirmation {
    margin: 5% 15%;
  }

  #homepage h1 {
    width: 50%;
    margin: 5% auto;
  }
  #homepage #btns .btn-homepage {
    flex: 0 0 25%;
  }
  #homepage section article {
    margin: 5% 10%;
  }
  #homepage section article a img {
    margin: 5%;
  }

  #productPage h1 {
    width: 20%;
    margin: 5% auto;
  }
  #productPage section img, #productPage section div {
    height: 470px;
  }
  #productPage section div {
    width: 550px;
    padding: 0 2% 1%;
  }
  #productPage section div h2 {
    margin-top: 10%;
  }

  #cart h1, #confirmation h1 {
    margin: 5% auto;
  }

  #cart #sectionWithProducts article {
    margin: 2% 0;
  }
  #cart #sectionWithProducts #totalPrice {
    font-size: 1.6em;
  }
}

/*# sourceMappingURL=style.css.map */
